@import 'public.scss';

main{
    border-top:2px solid black;
}
section{
    width:1200px;
    margin:0 auto;
}
.pro-title{
    width:100%;
    height:44px;
    line-height:44px;
    font-size:12px;
    display: flex;
    align-self: center;
    a{
        margin-right:10px;
    }
    span{
        margin-right:10px;
    }
}
.showpro{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-bottom:20px;
}
.show-le{
    width:450px;
}
.large{
    border:1px solid #f0f0f0;
    position: relative;
}
.small-pic{
    width:448px;
    height:448px;
    position: relative;
    cursor:move;
    .mark{
        width:448px;
        height:448px;
        background-color: rgba(0,0,0,0);
        display: block;
        position: absolute;
        left:0;
        top:0;
    }
    img{

        width:448px;
        height:448px;
    }
    .float-layer{
        display: block;
        position: absolute;
        width:224px;
        height:224px;
        left:0;
        top:0;
        background-color:rgba(255,255,255,.3);
        display: none;
    }
}
.big-pic{
    width:448px;
    height:448px;
    position: absolute;
    left:460px;
    top:0;
    display: none;
    overflow: hidden;
    img{
        width:896px;
        height:896px;
        position: absolute;
    }
}
.pro-list{
    font-size: 20px;
    display: flex;
    width:450px;
    justify-content: space-around;
    align-items: center;
    margin-top:10px;
    .icon-right{
        font-size:24px;
    }
    ul{
        display: flex;
        justify-content: space-around;
        width:380px;
    }
    li{
        border:1px solid #f0f0f0;
        &:hover{
            border:1px solid #ed1c24;
        }
        img{
            width:70px;
            height:70px;
        }
    }
    span{
        width:35px;
        height:80px;
        line-height: 80px;
    }
}

// 右边
.show-ri{
    width:720px;
    font-size:12px;
    text-indent: 10px;
    h4{
        font-size:20px;
        padding-bottom:10px;
    }
    dl{
        overflow: hidden;
        margin:10px 0;
    }
    dt,dd{
        font-weight:normal;
        float: left;
        line-height: 32px;
        height:34px;
    }
    dt{
        width:72px;
        padding-left:12px;
    }
    dd{
        width:585px;
        margin-left:20px;
        b{
            color:#ed1c24;
        }
    }
    .add-msg{
        margin-left: 92px;
    }
    .show-price{
        margin-top:15px;
        em{
        height:54px;
        display: flex;
        align-items: center;
        }
        i{
            width:16px;
            height:16px;
            background: url("../img/list/star.png");
            background-position: 0 -16px;
        }
        .on{
            background-position: 0 0;
        }
    }
    .bg{
        background-color: #f9f9f9;
        height:54px;
        line-height: 54px;
        dt,dd{
            height:54px;
            line-height: 54px;
        }
        dd{
            color:#ed1c24;
            b{
                font-size:18px;
            }
        }
    }
    .format{
        span{
            display: inline-block;
            margin:0 10px;
            padding-right:5px;
            border:1px solid #d70000;
            color:#f01e00;
        }
    }
    .amount{
        button{
            width:34px;
            height:34px;
            line-height: 34px;
            font-size:20px;
        }
        #num{
            text-align: center;
            width:34px;
            height:34px;
            line-height: 34px;
            font-size:20px;
        }
        dd{
            >:last-child{
                margin-right:10px;
            }
        }
    }
    .total{
        display: flex;
        b{
            color:#f01e00;
        }
        dd{
            flex:1;
        }
        .buy{
            display: block;
            height:54px;
            background-color: #f01e00;
            color:white;
            font-size:20px;
            padding-right:20px;
            padding-left:10px;
        }
    }
}
// 选项卡
.tab{
    border-top:1px solid #ececec;
    border-bottom:1px solid #ececec;
    // height:50px;
    box-sizing:content-box;
    overflow: hidden;
    .tab-tit{
        width:1200px;
        height:50px;
        margin:0 auto;
        display: flex;
        li{
            height:50px;
            margin:0 20px;
            font-size:18px;
            line-height: 50px;
        }
        .active{
            color:#f01e00;
            border-bottom:3px solid #f01e00;
        }
    }
}
.fix{
    position:fixed;
    top:0;
    width:100%;
    background:white
}
.tab-list{
    width:1200px;
    margin:20px auto;
    li{
        width: 100%;
        display: none;
    }
    .active{
        display: block;
    }
}
// 价格说明
.jgmsg{
    border:1px solid #dfdfdf;
    padding:10px;
    margin-top:20px;
    dt{
        font-size:14px;
        font-weight: normal;
        margin-bottom:5px;
        color:#f01e00;
    }
    dd{
        font-size:12px;
    }
}

