@import "public.scss";
main{
    background-color: #f5f5f5;;
}
.main-t{
    background-color: #fff;
    border-top:2px solid black;
    border-bottom:1px solid #969696;
}
section{
    width:1200px;
    margin:0 auto;
}
.sear-t{
    height:44px;
    line-height:44px;
    font-size:14px;
    :first-child{
        margin-left:15px;
    }
    span{
        margin:0 5px ;
    }
}
.sear-c{
    height:32px;
    padding:10px 0;
    box-sizing: content-box;
    background-color: #f9f9f9;
    color:black;
    font-size:12px;
    display: flex;
    span{
        height:32px;
        line-height: 32px;
        padding:0 25px;
    }
    p{
        border:2px solid #e9e9e9;
        margin:0 20px;
        display: flex;
        background-color: white;
        align-items: center;
        i{
            font-style:normal;
            width:29px;
            height:100%;
            line-height: 29px;
            font-size: 10px;
            cursor: pointer;
            text-align: center;
            &:hover{
                background-color: #f2f2f2;
            }
        }
        &:hover{
            border-color:#ed1c24;
            span{
                color:#2884c7;
            }
            i{
                color:#ed1c24;
            }
        }
    }
    
}
.sear-b{
    margin-top:30px;
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
}
.sear-b-l{
    display: flex;
    li{
        width:100px;
        text-align: center;
        font-size: 12px;
        height:20px;
        border-right: 1px solid #969696;
    }
    span{
        font-size:12px;
    }
    :last-child{
        border-right:none;
    }
    .active{
        color:#ed1c24;
    }
}
.sear-b-r{
    font-size:12px;
    color:black;
    span{
        margin:0 10px;
        font-size: 12px;
    }
    .icon-right{
        font-size:14px;
    }
    b{
        font-weight: normal;
        color:#ed1c24;
    }
}

.main-b{
    padding-top:20px;
    padding-bottom:20px;
    overflow: hidden;
    ul{
        display: flex;
        flex-wrap: wrap;
    }
    .pro-list{
        width:100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li{
            width:228px;
            // height:370px;
            padding-top:36px;
            background-color: white;
            text-align: center;
            font-size:12px;
            border:1px solid white;
            box-sizing: border-box;
            margin:0 5px 10px;
            &:hover{
                border:1px solid #ed1c24;
                .buy{
                    background-color: #ed1c24;
                    color:white;
                    border-top:white;
                }
            }
            img{
                width:180px;
                height:180px;
            }
            .pro-name{
                height:36px;
                line-height:18px;
                text-align: left;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                outline: none;
                color:black;
                padding-left:23px;
                padding-right:23px;
                margin-top:15px;
                position: relative;
                &:hover{
                    color:#2884c7;
                }
                em{
                    padding:8px;
                    position: absolute;
                    left:0;
                    bottom:36px;
                    background: rgba(0,0,0,.6);
                    font-style:normal;
                    // display: none;
                }
            }
            .price{
                color:#ed1c24;
                text-align: left;
                font-size:14px;
                padding-left:23px;
            
            }
            .score{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom:20px;
                padding-right:23px;
                padding-left: 23px;
            }
            i{
                display: inline-block;
                width:16px;
                height:16px;
                background: url(../img/list/star.png);
                background-position: 0 -16px;
            }
            .star-light{
                background-position: 0 0;
            }
            .buy{
                height:39px;
                line-height: 38px;
                border-top:1px solid #eee;
                width:100%;
                display: block;
                font-size:14px;
                color:#c80000;
            }
        }
    }
    .page{
        float: right;
        margin:20px 0;
        font-size: 12px;
        .active{
            a{
                color:black;
            }
        }
        li{
            height:27px;
            line-height: 27px;
            margin:0 10px;
        }
        a{
            display: inline-block;
            color:#969696;
            padding:0 5px;
            border:1px solid #f5f5f5;
            cursor: default;
            &:hover{
                color:black;
                border:1px solid #969696;
            }
        }
        .iconfont{
            font-size: 12px;
        }
        .icon-right{
            font-size: 14px;
        }
    }
}