header{
    width:1196px;
    height:90px;
    position: relative;
    left:0;
    top:0;
    right:0;
    margin:auto;
    overflow: hidden;
    // 头部
    .logo{
        position: absolute;
        left:10px;
        top:30px;
        img{
            display: block;
            width:160px;
            height:47px;
        }
    }
    .hea-r{
        color:gray;
        position: absolute;
        right:10px;
        bottom:10px;
        font-size:14px;
        margin-bottom:10px;
    }
}

/* 登录背景 */
.register-B{
    width:100%;
    height:483px;
    background:url(../img/login/beijing.jpg) no-repeat center;
    .register-box{
        width:1196px;
        height:483px;
        position: relative;
        right:0;
        top:0;
        left:0;
        bottom:0;
        margin:auto;
        .register-box-form{
            width:430px;
            height:460px;
            float: right;
            margin:10px 10px;
            background-color:white;
            position: relative;
            .register-tab{
                width:380px;
                height:420px;
                position: absolute;
                left:0;
                top:0;
                right:0;
                bottom:0;
                margin:auto;
                .register-tab-top{
                    margin-top:15px;
                    width:380px;
                    overflow: hidden;
                    line-height:40px;
                    font-size:18px;
                }
                .input-group{
                    margin: 10px 0;
                    label{
                        font-weight:normal;
                    }
                }
                .msg{
                    display: block;
                    height:16px;
                    font-size:12px;
                }
                .register-tab-bot{
                    position: absolute;
                    width:100%;
                    bottom:15px;
                    height:80px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}